@import "bootstrap-sprockets";
@import "bootstrap";

.avatar {
  border-radius: 10%;
}

.signout-link {
  margin-right: 8px;
}

.remember-checkbox {
  position: relative;
  left: 125px;
}

.vote-arrows {
  margin-left: 0;
  margin-right: 12px;
  text-align: center;
}
